<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>nameSapce</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
    <!--    <link rel="stylesheet" href="../static/css/bootstrap.min.css">-->
    <!--    <link rel="stylesheet" href="../static/css/bootstrap-theme.min.css">-->
    <!--    <link rel="stylesheet" href="../static/css/style.css">-->
</head>
<body>
<div th:insert="~{navigation::nav}"></div>

<div class="jumbotron" style="margin: 30px">
    <h1>Hello, world!</h1>
    <p>...</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
<div class="container-fluid " style="margin: 30px">
    <div class="row main">
        <!--            TODO col-lg-9 .col-md-12 .col-sm-12 .col-xs-12
                             col-lg-3 .col-md-12 .col-sm-12 .col-xs-12-->
        <div class="col-lg-9 .col-md-9 .col-sm-9 .col-xs-9">
            <h2><span class="glyphicon  glyphicon-list" aria-hidden="true"></span>发现</h2>
            <hr>
            <div class="media" th:each="question :${pagination.getQuestionDTOS()}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-thumbnail" th:src="${question.user.getAvatarUrl()}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading" >
                        <a th:text="${question.getTitle()}"th:href="@{'/question/'+${question.id}}"></a>
                    </h4>
                    <span th:text="${question.getDescription()}"></span> <br>
                    <span class="test-desc" th:text="${question.getLikeCount()}"></span> <span
                        class="test-desc">赞</span>
                    <span class="test-desc" th:text="${question.getCommentCount()}"></span> <span
                        class="test-desc">条评论</span>
                    <span class="test-desc" th:text="${question.getViewCount()}"></span> <span
                        class="test-desc">次阅读</span>
                    <span class="test-desc"
                          th:text="${#dates.format(question.getGmtCreate(),'yyyy-MM-dd HH:mm')}"></span>

                    <!--                    <span class="test-desc" th:text="${question.ge()}">2个回复·31次浏览·1小时前</span>-->

                </div>
            </div>

            <nav aria-label="Page navigation" th:if="${pagination.totalPage!=0}">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous" th:if="${pagination.isShowFirstPage()}"
                           th:href="@{/(page=1)}">
                            <span aria-hidden="true"><<</span>
                        </a>
                        <a href="#" th:if="${pagination.isShowPrevious()}"
                           th:href="@{/(page=${pagination.getPage()-1})}" aria-label="Previous">
                            <span aria-hidden="true"><</span>
                        </a>
                    </li>
                    <!--                    <span th:each="page:${pagination.getPages()}">-->
                    <li th:each="page:${pagination.pages}" th:class="${page==pagination.page}? 'active' : ''">
                        <a href="#" th:href="@{/(page=${page})}" th:text="${page}"></a>
                        <!--                            <p th:text="${page==pagination.page}"></p>-->
                        <!--                            <p th:text="${pagination.page}"></p>-->
                        <!--                            <p th:text="${page}"></p>-->

                    </li>
                    <!--                    </span>-->
                    <li>
                        <a href="#" th:if="${pagination.isShowNext()}" th:href="@{/(page=${pagination.getPage()+1})}"
                           aria-label="Next">
                            <span aria-hidden="true">></span>
                        </a>
                        <a href="#" th:if="${pagination.isShowEndPage()}"
                           th:href="@{/(page=${pagination.getTotalPage()})}" aria-label="Next">
                            <span aria-hidden="true">>></span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
        <div class="col-lg-3 .col-md-3 .col-sm-3 .col-xs-3">
            <h2>问题发起指南</h2>
            <h4>· 问题描述：<br><small>请使用简洁的语言描述您发布的问题，不超过25字</small></h4>
            <h4>· 问题补充：<br><small>详细补充您的问题内容，并确保问题描述清晰直观</small></h4>
            <h4>· 选择标签：<br><small>选择一个或多个合适的标签，用逗号分隔，不超过十个字</small></h4>


        </div>
    </div>
</div>

</body>
</html>