<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>个人中心</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
    <!--    <link rel="stylesheet" href="../static/css/bootstrap.min.css">-->
    <!--    <link rel="stylesheet" href="../static/css/bootstrap-theme.min.css">-->
    <!--    <link rel="stylesheet" href="../static/css/style.css">-->
</head>
<body>
<div th:insert="~{navigation::nav}"></div>
<div class="alert alert-danger" role="alert" th:if="${session.user==null}" th:value="请先登录"></div>
<div class="container-fluid " th:if="${session.user!=null}" style="margin: 30px">
    <div class="row main profile">
        <!--            TODO col-lg-9 .col-md-12 .col-sm-12 .col-xs-12
                             col-lg-3 .col-md-12 .col-sm-12 .col-xs-12-->
        <div class="col-lg-9 .col-md-9 .col-sm-9 .col-xs-9">
            <h2><span th:text="${title}"></span></h2>
            <hr>
            <div class="media" th:each="question :${pagination.getQuestionDTOS()}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-thumbnail" th:src="${question.getUser().getAvatarUrl()}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading" th:text="${question.getTitle()}"></h4>
                    <span th:text="${question.getDescription()}"></span> <br>
                    <span class="test-desc" th:text="${question.getLikeCount()}"></span> <span
                        class="test-desc">赞</span>
                    <span class="test-desc" th:text="${question.getCommentCount()}"></span> <span
                        class="test-desc">条评论</span>
                    <span class="test-desc" th:text="${question.getViewCount()}"></span> <span
                        class="test-desc">次阅读</span>
                    <span class="test-desc"
                          th:text="${#dates.format(question.getGmtCreate(),'yyyy-MM-dd HH:mm')}"></span>

                    <!--                    <span class="test-desc" th:text="${question.ge()}">2个回复·31次浏览·1小时前</span>-->

                </div>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous" th:if="${pagination.isShowFirstPage()}"
                           th:href="@{/profile/question(page=1)}">
                            <span aria-hidden="true"><<</span>
                        </a>
                        <a href="#" th:if="${pagination.isShowPrevious()}"
                           th:href="@{/profile/question(page=${pagination.getPage()-1})}" aria-label="Previous">
                            <span aria-hidden="true"><</span>
                        </a>
                    </li>
                    <!--                    <span th:each="page:${pagination.getPages()}">-->
                    <li th:each="page:${pagination.pages}" th:class="${page==pagination.page}? 'active' : ''">
                        <a href="#" th:href="@{/profile/question(page=${page})}" th:text="${page}"></a>
                        <!--                            <p th:text="${page==pagination.page}"></p>-->
                        <!--                            <p th:text="${pagination.page}"></p>-->
                        <!--                            <p th:text="${page}"></p>-->

                    </li>
                    <!--                    </span>-->
                    <li>
                        <a href="#" th:if="${pagination.isShowNext()}" th:href="@{/profile/question(page=${pagination.getPage()+1})}"
                           aria-label="Next">
                            <span aria-hidden="true">></span>
                        </a>
                        <a href="#" th:if="${pagination.isShowEndPage()}"
                           th:href="@{/profile/question(page=${pagination.getTotalPage()})}" aria-label="Next">
                            <span aria-hidden="true">>></span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
        <div class="col-lg-3 .col-md-3 .col-sm-3 .col-xs-3">
            <div class="list-group section">
                <a th:href="@{/profile/questions}" th:class="${section=='questions'}?'list-group-item active':'list-group-item'">我的问题</a>
                <a th:href="@{/profile/replies}" th:class="${section=='replies'}?'list-group-item active':'list-group-item'">最新回复<span class="badge">14</span></a>

            </div>
        </div>
    </div>
</div>

</body>
</html>