<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发布</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
<!--    <link rel="stylesheet" href="../static/css/bootstrap.min.css">-->
<!--    <link rel="stylesheet" href="../static/css/bootstrap-theme.min.css">-->
<!--    <link rel="stylesheet" href="../static/css/style.css">-->

</head>
<body>
<div th:insert="~{navigation::nav}"></div>


<div class="container-fluid"><div th:if="${error}!=null" class="alert alert-warning" role="alert" th:text="${error}"></div></div>

<div class="container-fluid " style="margin: 30px">
    <div class="row main">
        <!--            TODO col-lg-9 .col-md-12 .col-sm-12 .col-xs-12
                             col-lg-3 .col-md-12 .col-sm-12 .col-xs-12-->
        <div class="col-lg-9 .col-md-9 .col-sm-9 .col-xs-9">
            <h2><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>发起</h2>
            <hr>
            <form action="/publish" method="post">
                <div class="form-group">
                    <label for="title">问题标题（简单扼要）：</label>
                    <input type="text" class="form-control" id="title" name="title" th:value="${title}" placeholder="问题标题...">
                </div>

                <div class="form-group">
                    <label for="description">问题补充（必填，请参照右侧说明）:</label>
                    <textarea class="form-control" id="description" name="description" th:text="${description}" cols="30" rows="10"></textarea>
<!--                    th:value 会导致area的值不能回显-->
                </div>
                <div class="form-group">
                    <label for="tag">标签</label>
                    <input type="text" class="form-control" id="tag"  name="tag" th:value="${tag}" placeholder="输入标签，以逗号分隔">
                </div>
                <button type="submit" class="btn btn-primary btn-publish">提交</button>


            </form>

        </div>
        <div class="col-lg-3 .col-md-3 .col-sm-3 .col-xs-3">
            <h2>问题发起指南</h2>
            <h4>· 问题描述：<br><small>请使用简洁的语言描述您发布的问题，不超过25字</small></h4>
            <h4>· 问题补充：<br><small>详细补充您的问题内容，并确保问题描述清晰直观</small></h4>
            <h4>· 选择标签：<br><small>选择一个或多个合适的标签，用逗号分隔，不超过十个字</small></h4>


        </div>
    </div>
</div>
</body>
</html>